<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Vue</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div id="divH1">
            <h1><span>Vue</span> your Taske</h1>
        </div>
        <div id="app">
            <div id="divInput">
                <input v-model="newItem" @keydown.enter="aggItem(newItem)">
                <button @click="aggItem(newItem)">Aggiungi</button>
            </div>
            <div id="divTodo">
                <template v-for="(todo, index) in toDoItems">
                    <div :class="['card', index % 2 == 0 ? 'cardLeft' : 'cardRight' , todo.done == true ? 'doneTrue' : 'doneFalse']">
                            <i class="bi bi-x-square" @click="removeItem(index)"></i>
                        <div class="text">
                            {{todo.text}}
                        </div>
                            <i class="bi bi-check-square-fill" v-if="todo.done == true"></i>
                            <i class="bi bi-square-fill" v-else></i>
                    </div>
                </template>
            </div>
            
        </div>
    </main>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="main.js"></script>
</body>
</html>