h1 span{
    color: #41B883;
}
.doneTrue, .doneFalse{
    display: flex;
    margin-bottom: 20px;
}
.doneTrue .text{
    text-decoration-line: line-through;
}
.doneTrue .text, .doneFalse .text{
    padding-right: 1em;
}